
a {
  text-decoration: none;
  color: white;
}

.name-section {
  width: 65%;  
  text-align: right;;
  font-size: 15vw;
}

.name {
   color: rgba(0, 0, 0, 0.616);
  font-size: 20vw;
  padding-right: 5px;
}

.self-image {
  width: 45%;
}

.offcanvas {
  background-color: hsl(34, 34%, 54%);
  color: white;
  width: 55%;
}

.offcanvas-body {
  padding: 1.5rem;
}

.offcanvas-header {
  padding-left: 1.5rem;
}

.image-container {
  display: inline-block;
}

.about-image1 {
  width: 40%; 
  float: left;
  margin-left: 2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.about-image2 {
  width: 40%; 
  float: right;
  margin-right: 2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.schwa {
  font-style: italic;
}

.dreams {
  font-style: italic;
}

.header-container {
  display: inline-flex;
}

.textbox{
  transform: rotate(-90deg);
  font-size: 2vw;
}

.me-2 {
  width: 3%;
  color: rgb(5, 134, 156);
}

.portfolio-text {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  height: 15vw;
  font-size: x-large;
  font-weight: 200;
  background-color:rgb(41, 83, 90);
}

.accordion-body {
  background-color:rgb(41, 83, 90);
  color: white;
}

.accordion-button {
  background-color: rgba(0, 0, 0, 0.616);
  color: white;
  font-size: large;
  font-weight: 300;
}

.accordion-button:not(.collapsed) {
    background-color: hsl(34, 34%, 54%);
    color: black;
}

.project-header {
  text-align: center;
  padding: 10px;
  font-family: 'Athiti', sans-serif;
  font-weight: 600;
}

.project-body {
  width: 100%;
  display: inline-flex;
}

.projectImg {
  max-width: 50vw;
  border: black solid 2px;
}

.projectVid {
  max-width: 50vw;
}

.project-text {
  width: 50vw;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 15px 0px 15px;
  font-family: 'Athiti', sans-serif;
}

.project-links {
  display: grid;
  justify-items: center;
  margin: 8px 0px 5px 0px;
  font-style: italic;
}

.footer-container {
  background-color: hsl(34, 34%, 54%);
  width: 100%;
  height:fit-content;
  text-align: center;
  white-space:nowrap;
  padding: 1.5vw;
}

.footer-images{
  display:inline;
}

.footer-img {
  width: 7%;
}

.email-img {
  width: 7%;
  cursor: pointer;
}

.email-text {
  padding: 5px;
  margin: 5px;
  display:inline;
  width:fit-content;
  font-family: 'Athiti', sans-serif;
  font-size: x-large;
  font-weight: 700;
}

.emailLink {
  color: black;
}

