/* @import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital@1&display=swap'); */

h1 {
  /* color: rgb(148, 142, 184); */
  /* -webkit-text-stroke-color: black; */
  /* -webkit-text-stroke-width: 2px; */
  /* -webkit-text-stroke: 2px black; */
}

a {
  text-decoration: none;
  color: white;
}

.name-section {
  width: 65%;  
  text-align: right;;
  /* display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  font-size: 15vw;
}

.name {
   color: rgba(0, 0, 0, 0.616);
  /* color:burlywood; */
  /* color: rgb(148, 142, 184); */
  font-size: 20vw;
  padding-right: 5px;
}

.footer-container {
  /* background-color:hsl(34, 34%, 54%); */
  background-color: rgb(160, 85, 11);
  width: 100%;
  height:fit-content;
  justify-content: center;
}

.offcanvas {
  /* background-color: rgb(148, 142, 184); */
  /* background-color:rgb(5, 134, 156); */
  background-color: hsl(34, 34%, 54%);
  /* background-color: rgb(160, 85, 11); */
  /* dark orange */
  /* background-color: rgb(161, 89, 16); */
  color: white;
}

.header-container {
  display: inline-flex;
}

.self-image {
  width: 45%;
}

.offcanvas {
  width: 55%
}

.textbox{
  transform: rotate(-90deg);
  font-size: 2vw;
}

.me-2 {
  width: 3%;
  color: rgb(5, 134, 156);
}

.portfolio-text {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  height: 15vw;
  font-size: large;
  /* background-color: rgb(148, 142, 184); */
  
  /* background-color:rgb(72, 94, 34); */
  
  background-color:rgb(41, 83, 90);
}

.accordion-body {
  /* light blue */
  /* background-color:rgb(5, 134, 156); */
  /* dark blue */
  background-color:rgb(41, 83, 90);
  
  color: white;
}

.project-header {
  text-align: center;
  padding: 10px;
  font-family: 'Athiti', sans-serif;
  font-weight: 600;

}

.project-body {
  width: 100%;
  display: inline-flex;
  /* color: white; */
}

.projectImg {
  max-width: 50vw;
  border: black solid 2px;
}

.projectVid {
  max-width: 50vw;
}

.project-text {
  width: 50vw;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 15px 0px 15px;
  /* font-family: 'Asap Condensed', sans-serif; */
  font-family: 'Athiti', sans-serif;
  /* font-family: 'Molengo', sans-serif; */
}

.project-links {
  display: grid;
  justify-items: center;
  margin: 8px 0px 5px 0px;
  font-style: italic;
}

.accordion-button {
  /* dark orange */
  /* background-color: rgb(158, 98, 37); */
  /* gray */
  background-color: rgba(0, 0, 0, 0.616);
  color: white;
}

.accordion-button:not(.collapsed) {
  /* gray */
  /* background-color: rgba(0, 0, 0, 0.616); */
  /* dakr khaki */
  /* background-color: hsl(34, 34%, 54%); */
  /* dakr orange */
  /* background-color: rgb(158, 98, 37); */
  /* pale purple */
  /* background-color: rgb(112, 107, 139); */
    background-color:rgb(5, 134, 156);
  color: white;
}

.footer-img {
  width: 10%;
}

.schwa {
  font-style: italic;
}